<form action="/flights" method="POST">
  <p>
    <label for="flight_number">Flight Number</label>
    <input type="text" name="flight[number]" id="flight_number"/>
    <%= error_on flight, :number %>
  </p>
  
  <p>
    <label for="flight_date">Date</label>
    <input type="text" name="flight[date]" id="flight_date" placeholder="2010-09-15" class="date"/>
    <%= error_on flight, :date %>
  </p>
  
  <p>
    <label for="flight_from">From</label>
    <input type="text" name="flight[from]" id="flight_from" placeholder="e.g. SFO"/>
  </p>
  
  <p>
    <label for="flight_to">To</label>
    <input type="text" name="flight[to]" id="flight_to" placeholder="e.g. JFK"/>
  </p>
  
  <p>
    <input type="submit" value="I'm on that Plane"/>
    <a href="/">back</a>
  </p>
</form>