<form action="/flights" method="POST">
  <p>
    <label for="flight_number">Flight Number</label>
    <input type="text" name="flight[number]" id="flight_number"/>
    <%= error_on flight, :number %>
  </p>
  
  <p>
    <label for="flight_date">Date</label>
    <input type="text" name="flight[date]" id="flight_date" placeholder="" class="date"/>
    <%= error_on flight, :date %>
  </p>
  <script type="text/javascript" charset="utf-8">
    var flight_date = document.getElementById("flight_date");
    if(!flight_date.placeholder) {
      function zeropad(i) { return i < 10 ? "0" + i : i; }
      var date = new Date();
      var flight_date_now = date.getFullYear()
        + "-" + zeropad(date.getMonth()+1)
        + "-" + zeropad(date.getDate());
      flight_date.placeholder = flight_date_now;
    }
  </script>
  <p>
    <label for="flight_from">From</label>
    <input type="text" name="flight[from]" id="flight_from" placeholder="e.g. SFO"/>
  </p>
  
  <p>
    <label for="flight_to">To</label>
    <input type="text" name="flight[to]" id="flight_to" placeholder="e.g. JFK"/>
  </p>
  
  <p>
    <input type="submit" value="I'm on that Plane"/>
    <a href="/">back</a>
  </p>
</form>