<form action="/flights" method="POST">
  <p>
    <label for="flight_number">Flight Number</label>
    <input type="text" name="flight[number]" id="flight_number"/>
    <%= error_on flight, :number %>
  </p>
  
  <p>
    <label for="flight_date">Date</label>
    <input type="text" name="flight[date]" id="flight_date" placeholder="2010-09-15" class="date"/>
    <%= error_on flight, :date %>
  </p>
  
  <p>
    <input type="submit" value="I'm on that Plane"/>
  </p>
</form>