<% if current_user %>
  <h1>Welcome @<%= current_user.login %></h1>
<% else %>
  <h1>Welcome to I'm on a plane</h1>
  <p>Tweet your flight and find out who flies with you.</p>

  <p><a href="/session/new">Sign in with Twitter</a></p>
<% end %>