<% if current_user %>
  <h1>Welcome @<%= current_user.login %></h1>
  
  <p><a href="/flights/new">Enter new Flight</a></p>
  
  <% if current_user.upcoming_flights.any? %>
    <h2>Upcoming Flights</h2>
    <ul>
      <% current_user.upcoming_flights.each do |flight| %>
        <li><%= flight.date %>: <a href="/<%= flight.to_key %>"><%= flight.number %></a></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <h1>Welcome to I'm on a plane</h1>

  <p class="huge"><a href="/session/new">Sign in with Twitter</a></p>
  
  <p style="margin-top: 6em">This app is in a very early stage. It's also <strong>open source</strong>, which means anyone can contribute (be it copy, design or code or whatever). Just <a href="http://github.com/langalex/imonaplane">go to Github and fork</a>.</p>
  
  <p>On your next flight, write some code for imonaplane!</p>
  
<% end %>