<% if current_user %>
  <h1>Welcome @<%= current_user.login %></h1>
  
  <p><a href="/flights/new">Enter new Flight</a></p>
<% else %>
  <h1>Welcome to I'm on a plane</h1>
  

  <p><a href="/session/new">Sign in with Twitter</a></p>
<% end %>