<html>
  <head>
    <title>I'm on a plane</title>
    <link rel="stylesheet" href="/css/blueprint.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/css/datepicker.css" type="text/css" media="screen" charset="utf-8"/>
  </head>
  <body>
    <div id="header" class="container">
      <a href="/" title="Home"><img src="/img/logo.png" la=t"logo" title="Home" id="logo"/></a>
      Tweet your flight no. and find out who is on the same flight.
    </div>
    <div id="main" class="container">
      <% unless current_user %>
        <div style="float:right">
          <a href="/session/new">Sign In</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer" class="container">
      <%= Date.today.year %> <a href="http://alex.io">Alexander Lang</a>
      <br/>this site is open source, feel free to <a href="http://github.com/langalex/imonaplane">fork</a> - 
      <a href="http://twitter.com/planeapp">follow planeapp</a> -
      logo by <a href="http://www.iconspedia.com/icon/paper-plane-8211.html">eponas-deeway</a>
    </div>
    
    <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/date.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/datepicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
  </body>
</html>